<nav class="blue-grey darken-2">
  <div class="nav-wrapper container">
    <a href="#!" class="brand-logo"><i class="material-icons">album</i>THE LOG</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/users/sign_in">Login</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="/users/sign_in">Sass</a></li>

    </ul>
  </div>
</nav>
