<% if user_signed_in? %>
<!-- Modal Trigger -->
<a class="waves-effect waves-light btn" href="#myModal" style="Display: none;">Modal</a>

<!-- Modal Structure -->
<div id="myModal" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4 id="title">Modal Header</h4>
    <p>Hey Eric :D Info goes here. When you click the button, it pulls al the data from a website called worldweatheronline.com... Now we need to find out what to do with it :)</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>

<div class="row row-map">
  <div class="col m12 s12 map" id="map">
  </div>

</div>

<ul id="slide-out" class="side-nav fixed">
  <li>
    <div class="userView">
      <div class="background">
        <img src="http://i.imgur.com/VUbkR7F.gif">
      </div>
    <a href="#!user"><img class="circle" src="http://www.irishexaminer.com/images/social/icon-user-you.png"></a>
    <a href="#!name"><span class="white-text name">Hello <%= current_user.email %>!</span></a>
    <br>
    </div>
  </li>
  <li class="search">
      <input id="search" placeholder="  Search for a spot...">
  </li>
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header">My Spots<i class="material-icons">arrow_drop_down</i></a>
        <div class="collapsible-body">
          <ul>
            <li><a href="#!">Chinese</a></li>
            <li><a href="#myModal">Venice Pier</a></li>
            <li><a href="#!">El Porto</a></li>
            <li><a href="#!">Zuma</a></li>
          </ul>
        </div>
      </li>
        <li><%= link_to 'Sign out', destroy_user_session_path, method: 'DELETE' %></li>
    </ul>
  </li>
</div>
</ul>


<% else %>
<%= render "home/signouthome" %>
<% end %>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwMfMENTf8PU8inF6lG48nSv3spe0g5-M&callback=initMap">
</script>
