 <div class="container">
  <div class="row center-align intro-buttons-row">
      <div class="col s12 m8 l8 offset-m2 offset-l2 typewriter">
        <h2>Welcome to The Log</h2>
      </div>
      <div class="col s12 m6 l6 offset-m3 offset-l3 margin-10">
        <a href="/users/sign_in" class="btn-large waves-effect waves-light blue-grey darken-4" type="submit" name="action">Login
          <i class="material-icons right">perm_identity</i>
        </a>
      </div>
      <div class="col s12 m6 l6 offset-m3 offset-l3">
        <a href="/users/sign_in" class="btn-large waves-effect waves-light blue-grey darken-4" type="submit" name="action">Contact US
          <i class="material-icons right">email</i>
        </a>
      </div>
    </div>
</div>
