<% if user_signed_in? %>
<!-- <div class="container">

    <div class="col m8" style="">
<h1>hello</h1>
    </div>
    <div class="col m4" id="map">

    </div>

</div> -->


    <div class="col m8" id="map">
    </div>




<% else %>
<%= render "home/signouthome" %>
<% end %>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwMfMENTf8PU8inF6lG48nSv3spe0g5-M&callback=initMap">
</script>
